{% extends "layout.html" %} {% block content %}
<div class="bg-dark text-white py-5">
  <div class="container text-center">
    <h1 class="display-4 mb-4">Teater JKT48</h1>
    <p class="lead">
      Pertunjukan teater menjadi aktivitas utama JKT48 sebagai sebuah grup
      idola. Teater menjadi tempat para member tumbuh berkembang menjadi
      performer yang semakin baik dengan dukungan penuh dari seluruh
      penggemarnya. Selama ini, Teater JKT48 sudah menjadi rumah kedua bagi para
      member untuk menghabiskan masa muda mereka.
    </p>
    <p class="lead">
      Teater JKT48 didirikan di dalam Mall FX Sudirman lantai 4 dan resmi
      beroperasi sejak 8 September 2012. Setiap tahunnya, JKT48 juga akan selalu
      merayakan anniversary dari rumah kedua mereka dengan menampilkan lagu-lagu
      teater yang membuat fans nostalgia.
    </p>
    <p class="lead">
      Pada momen tersebut, ada perwakilan member JKT48 yang akan memasangkan
      plakat di dinding Teater JKT48 yang menandai sudah berapa lama teater
      tersebut berdiri. Selain di FX Sudirman, JKT48 juga sempat membuka teater
      sementara di Taman Budaya Cak Durasim Surabaya pada tahun 2016.
    </p>
    <p class="lead">
      Di tahun 2024, JKT48 akan kembali membuka teater sementara di 2 kota,
      yaitu Surabaya dan Yogyakarta. Adanya teater sementara ini memberikan
      kesempatan bagi fans di luar Jakarta yang belum pernah merasakan
      pengalaman menonton pertunjukan teater dari JKT48.
    </p>
  </div>
</div>
{% endblock %}
